<h1>Scholarship Application Form</h1>
<div>
  <form [formGroup]="application">
    <h4>BASIC DETAILS</h4>
    AADHAR NUMBER
    <input type="text" name="anumber" formControlName="anumber" /> 
    <div *ngIf="anumber && anumber.invalid && anumber.touched">anumber is required</div>&nbsp;
    <label>Religion</label>
    <select class="form-control dropdown" id="religion" name="religion">
    
      <option value="" selected="selected" disabled="disabled">
        -- select one --
      </option>
      <option value="African Traditional &amp; Diasporic">
        African Traditional &amp; Diasporic
      </option>
      <option value="Agnostic">Agnostic</option>
      <option value="Atheist">Atheist</option>
      <option value="Baha'i">Baha'i</option>
      <option value="Buddhism">Buddhism</option>
      <option value="Cao Dai">Cao Dai</option>
      <option value="Chinese traditional religion">
        Chinese traditional religion
      </option>
      <option value="Christianity">Christianity</option>
      <option value="Hinduism">Hinduism</option>
      <option value="Islam">Islam</option>
      <option value="Jainism">Jainism</option>
      <option value="Juche">Juche</option>
      <option value="Judaism">Judaism</option>
      <option value="Neo-Paganism">Neo-Paganism</option>
      <option value="Nonreligious">Nonreligious</option>
      <option value="Rastafarianism">Rastafarianism</option>
      <option value="Secular">Secular</option>
      <option value="Shinto">Shinto</option>
      <option value="Sikhism">Sikhism</option>
      <option value="Spiritism">Spiritism</option>
      <option value="Tenrikyo">Tenrikyo</option>
      <option value="Unitarian-Universalism">Unitarian-Universalism</option>
      <option value="Zoroastrianism">Zoroastrianism</option>
      <option value="primal-indigenous">primal-indigenous</option>
      <option value="Other">Other</option></select
    ><br /><br />

    <span
      >COMMUNITY/CATEGORY<input
        type="text"
        name="category"
        formControlName="category" />
         <div *ngIf="category && category.invalid && category.touched">
          category is required</div></span
    ><br /><br />
    FATHER NAME<input
      type="text"
      name="fathername"
      formControlName="fathername"
    /><div *ngIf="fathername && fathername.invalid && fathername.touched">Fathername is required</div>&nbsp;&nbsp;
    MOTHER NAME<input type="text"   name="mothername"
    formControlName="mothername"/><div *ngIf="fathername && fathername.invalid && fathername.touched">Mothername is required</div><br /><br />
    FAMILY ANNUAL INCOME<input
      type="number"
      name="income"
      formControlName="income"
    /><div *ngIf="income && income.invalid && income.touched">Income is required</div>

    <h4>ACADEMIC DETAILS:</h4>
    <div>
      INSTITUTE NAME<input
        type="text"
        name="institute"
        formControlName="institute"
      /><div *ngIf="institute && institute.invalid && institute.touched">Institute name is required</div>
      &nbsp; PRESENT CLASS COURSE<input
        type="text"
        name="presentcourse"
        formControlName="presentcourse"
      /><div *ngIf="presentcourse && presentcourse.invalid && presentcourse.touched">presentcourse is required</div><br /><br />
      PRESENT CLASS/COURSE YEAR<input
        type="number"
        name="presentcourseyear"
        formControlName="presentcourseyear"
      /><div *ngIf="presentcourseyear && presentcourseyear.invalid && presentcourseyear.touched">presentcourseyear is required</div>
      &nbsp;&nbsp;
      <label>MODE OF STUDY </label
      ><select class="form-control dropdown" id="mode" name="mode">
        <option value="" selected="selected" disabled="disabled">
          Select the Mode
        </option>
        <option value="Online">Online</option>
        <option value="Offline">Offline</option>
      </select>
    </div>
    <br /><br />

    <label>CLASS START DATE</label
    ><input
      type="date"
      placeholder="dd/mm/yyyy"
      name="date"
      formControlName="date"
    /><div *ngIf="date && date.invalid && date.touched">date is required</div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    UNIVERSITY/BOARD NAME<input type="text"name="universityname" formControlName="universityname" />
    <div *ngIf="universityname && universityname.invalid && universityname.touched">universityname required</div><br /><br />
    PREVIOUS CLASS/COURSE<input type="text" name="previouscourse" formControlName="previouscourse" />
    <div *ngIf="previouscourse && previouscourse.invalid && previouscourse.touched">previouscourse is required</div>
    &nbsp;&nbsp;&nbsp;PREVIOUS PASSING
    YEAR<input type="number" name="previouspassingyear" formControlName="previouspassingyear"/>
    <div *ngIf="previouspassingyear && previouspassingyear.invalid && previouspassingyear.touched">previouspassingyearis required</div>
    &nbsp;&nbsp; PREVIOUS CLASS%<input
      type="number" name="previouspercentage" formControlName="previouspercentage"
    /><div *ngIf="previouspercentage && previouspercentage.invalid && previouspercentage.touched">previouspercentageis required</div>
    <br /><br />
    <h4>10TH CLASS</h4>
    
    BOARD NAME<input
      type="text" name="bname" formControlName="bname"
    /> <div *ngIf="bname && bname.invalid && bname.touched">bname is required</div>
    <br /><br />
    PASSING YEAR<input type="number" name="pyear" formControlName="pyear" />
    <div *ngIf="pyear && pyear.invalid && pyear.touched">pyear is required</div>
    &nbsp;&nbsp;&nbsp;&nbsp;% OBTAINED<input
      type="number" name="sscpercentage" formControlName="sscpercentage"
    /><div *ngIf="sscpercentage && sscpercentage.invalid && sscpercentage.touched">sscpercentage is required</div><br /><br />
    <h4>12TH CLASS</h4>
    ROLL NUMBER<input type="number" name="hrollnumber" formControlName="hrollnumber"/>
    <div *ngIf="hrollnumber && hrollnumber.invalid && hrollnumber.touched">hrollnumber is required</div>
    &nbsp;&nbsp;&nbsp;&nbsp;BOARD NAME<input
      type="text" name="hbname" formControlName="hbname"
    /><div *ngIf="hbname && hbname.invalid && hbname.touched">hbname is required</div>
    <br /><br />
    PASSING YEAR<input type="number" name="hpassingyear" formControlName="hpassingyear" />
    <div *ngIf="hpassingyear && hpassingyear.invalid && hpassingyear.touched">hpassingyearis required</div>
    &nbsp;&nbsp;&nbsp;&nbsp;% OBTAINED<input
      type="number" name="hscpercentage" formControlName="hscpercentage"
    /> <div *ngIf="hscpercentage && hscpercentage.invalid && hscpercentage.touched">hscpercentage is required</div><br /><br />
    
    <label>IS DISABLED</label>
    <select class="form-control dropdown" id="disable" name="disable">
      <option value="" selected="selected" disabled="disabled">
        select option
      </option>
      <option value="YES">YES</option>
      <option value="NO">NO</option></select
    >&nbsp;&nbsp;&nbsp;&nbsp;TYPE OF DISABILITY<input type="text" name="typeofdisable" formControlName="typeofdisable" />
    <div *ngIf="typeofdisable && typeofdisable.invalid && typeofdisable.touched">typeofdisable is required</div>
    <br /><br />
    % OF DISABILITY<input type="number" name="percentageofdisable" formControlName="percentageofdisable"/>
    <div *ngIf="percentageofdisable && percentageofdisable.invalid && percentageofdisable.touched">percentageofdisable is required</div>
    &nbsp;&nbsp;&nbsp;&nbsp;MARITAL
    STATUS<select>
      <option value="" selected="selected" disabled="disabled">
        select option
      </option>
      <option value="SINGLE">SINGLE</option>
      <option value="MARRIED">MARRIED</option></select
    ><br /><br />
    PARENT PROFESSION<input type="text" name="profession" formControlName="profession" />
    <div *ngIf="profession && profession.invalid && profession.touched">profession is required</div>

    <h3>CONTACT DETAILS</h3>
    <label>STATE</label><select>
      <option value="" selected="selected" disabled="disabled">
        select option
      </option><option value ="select STATE">select STATE</option>
    <option value ="MAHARASHTRA">MAHARASHTRA</option></select>&nbsp;&nbsp;
    <label>DISTRICT</label><select>
      <option value="" selected="selected" disabled="disabled">
        select option
      </option>
      <option value ="select DISTRICT">select DISTRICT</option>
    <option value ="MUMBAI">MUMBAI</option></select>&nbsp;&nbsp;
    <label>TALUKA</label><select>
      <option value="" selected="selected" disabled="disabled">
        select option
      </option>
      <option value ="select TALUKA">select TALUKA</option>
    <option value ="ANDHERI">ANDHERI</option></select><br><br>
    <label>HOUSE NUMBER</label><input type="text" name="house" formControlName="house" />
    <div *ngIf="house && house.invalid && house.touched">house is required</div>&nbsp;&nbsp;
    <label>STREET NUMBER</label><input type="text">&nbsp;&nbsp;
    <label>PINCODE</label><input type="number" name="pin" formControlName="pin">
    <div *ngIf="pin && pin.invalid && pin.touched">pin is required</div>
    &nbsp;&nbsp;<br><br>
    <label>CHOOSE SCHEME APPLYING FOR</label><select>
      <option value="" selected="selected" disabled="disabled">
        select option
      </option><option value ="select ONE">select ONE</option>
    <option value ="EBC">EBC</option></select>&nbsp;&nbsp;<br><br>
    <h4>DOCUMENT UPLOAD SECTION</h4>
    <label>DOMICILE CERTIFICATE</label>&nbsp;
    <input type="file"><br><br>
    <label>STUDENT PHOTOGRAPH</label>&nbsp;
    <input type="file"><br><br>
    <label>INSTITUTE ID CARD</label>&nbsp;
    <input type="file"><br><br>
    <label>CAST/INCOME CERTIFICATE</label>&nbsp;
    <input type="file"><br><br>
    <label>PREVIOUS YEAR MARKSHEET</label>&nbsp;
    <input type="file"><br><br>
    <label>FEE RECIPT OF CURRENT YEAR</label>&nbsp;
    <input type="file"><br><br>
    <label>BANK PASSPORT(FRONT PAGE)</label>&nbsp;
    <input type="file"><br><br>
    <label>ADHAR CARD</label>&nbsp;
    <input type="file"><br><br>
    <label>10TH CLASS MARKSHEET</label>&nbsp;
    <input type="file"><br><br>
    <label>12TH CLASS MARKSHEET</label>&nbsp;
    <input type="file"><br><br>

   <button type="submit" (click)=" addscholarship()" >submit form</button>
   
    
  </form>
 
</div>
