<p>statenodalofficer works!</p>
<table class="table" >
    <thead> 
        <tr>
            <th>Student Name</th>
            <th>Father Name</th>
            <th>Mother Name</th>
            <th>Income</th>
        </tr>
    </thead>
    <tbody *ngFor="let c of categoryinfo">
        <tr>
            <td>{{c.studentName}}</td>
            <td>{{c.fatherName}}</td>
            <td>{{c.motherName}}</td>
            <td>{{c.familyIncome}}</td>
            <td>{{c.Stateofficerstatus}}</td>
            <td><button class="btn btn-success" (click)="Approve(c.schloarId)">Approve</button></td>
            <td><button class="btn btn-danger" (click)="Reject(c.schloarId)">Reject</button></td>
        </tr>
    </tbody>
</table>
